{
  "env": {
    "browser": true,
    "es2021": true,
    "jest/globals": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "page": true,
    "document": true
  },
  "plugins": ["jest","prettier"],
  "rules": {
    "class-methods-use-this": "warn",
    "default-param-last": "warn",
    "import/prefer-default-export": "off",
    "no-console": "off",
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "warn",
    "react/no-unstable-nested-components": "warn",
    "react/no-unused-class-component-methods": "warn",
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true,
        "ArrowFunctionExpression": true,
        "FunctionExpression": true
      }
    }],
    "react/prefer-stateless-function": "off",
    "sort-keys": "off",
    "no-continue": "off"
  }
}
