/__fixtures__
.cache
.docassets
.github
/demo/dist
/dist
/es
/lib
/umd
/node_modules
.eslintrc
.npmrc
babel.config.js
CONTRIBUTING.md
jest.config.js
jest.setup.js
LICENSE.md
netlify.toml
npm-debug.log*
package-lock.json
package.json
README.md
webpack.config.js
